*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}
.brows{
  min-height: 100vh;
}
.navbar{
  background-color: rgb(29, 131, 168) !important;
}
.navbar a{
  color: white !important;
}
.dropdown-menu{
  background-color: rgb(29, 131, 168) !important;
  
}
.dropdown-menu a {
  color: white !important;
 
}
.dropdown-menu a:hover {
  color: rgb(29, 131, 168) !important;
  background-color:  white !important;
  
}


